<div id="maincontent" >
  <% resources.forEach(function(resource) { %>
    <figure class="h-resource" data-res_id=<%=resource.id%>>
      <img src="<%= resource.media_src %>">
      <figcaption class='resourceTitle'><%= resource.title %></figcaption>
      <p><%= resource.description %></p>
      <a href="<%= resource.url %>"><em>source</em></a>
      <figcaption><% include ../../views/_Icons %></figcaption>
    </figure>
  <% }) %>
</div>
