<div id="maincontent" >
  <% resources.forEach(function(resource) { %>
    <figure class="h-resource" data-res_id=<%=resource.id%>>
      <a id="punch" class="close" href="/">X</a>
      <img src="<%= resource.media_src %>">
      <figcaption class='resourceTitle'><%= resource.title %></figcaption>
      <p><%= resource.description %></p>
      <figcaption>
        <% include ../views/_Icons %>
        <span><em><a class="res-url res-source" href="<%= resource.url %>" target="_blank" >source</a></em></span>
      </figcaption>
    </figure>
  <% }) %>
</div>
