<style type="text/css">
  #next-prev {
    display: none;
    list-style: none;
    padding: 0;
    position: relative;
    top: 150px;
    width: 100%;
  }
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
</style>

<div id="maincontent" >
  <ul id="next-prev">
    <li class="prev"><a href="#0">Prev</a></li>
    <li class="next"><a href="#0">Next</a></li>
  </ul>
  <% resources.forEach(function(resource) { %>
    <figure class="h-resource" data-res_id=<%=resource.id%>>
      <a class="close" href="/">X</a>
      <img src="<%= resource.media_src %>">
      <figcaption class='resourceTitle'><%= resource.title %></figcaption>
      <p><%= resource.description %></p>
      <em><a class="res-url" href="<%= resource.url %>" target="_blank" >source</a></em>
      <figcaption><% include ../views/_Icons %></figcaption>
    </figure>
  <% }) %>
</div>
