<!DOCTYPE html>
<html lang="en">
<head>
<% include ../views/_Head %>
  <script type="text/javascript" src="/scripts/user_app.js"></script>
</head>
<body>
  <header>
    <% include ../views/_Header %>
  </header>
    <div class="new">
      <% include ../views/_Newpop %>
    </div>
    <div class="pop">
      <% include ../views/_Regpop %>
    </div>
  <main>
  <br>
  <div id="user-show" class="container-fluid user-details">
    
  <% if (user) { %>
    <div class="row">
      <div id="own-id-info" class="col-md-12 user-info" data-ownerID="<%= user.id %>">Reezorz for <%= user.name%></div>
    </div>
    <div class="row">
      <div class="col-md-12 user-info"><%= user.email%></div>
    </div>
    <div class="row">
      <div class="col-md-2"><a href="#update-user-popup">Update profile</a></div>
    </div>
  <% } else { %>
    <div class="row">
      <div id="own-id-info" class="col-md-12 user-info" data-ownerID="<%= owner_id %>">Reezorz for <%= owner %></div>
    </div>
  <% } %>
  </div>
  <div class"row">
  <% include ../views/partials/_UpdateUserPop.ejs %>
  </div>
  <br>
  <div id="btn-container">
    <button id="btn-submitted" type="button" class="btn btn-danger btn-lg btn-block submitted-button">Submitted Resources</button>
    <button id="btn-liked" type="button" class="btn btn-danger btn-lg btn-block liked-button">Liked Resources</button>
  </div>
  <% include ../views/_MainContent %>
    <section class="container">

    </section>
  </main>
</body>
</html>
